mixin header-page(page, headerPageArray)
    section.topSection(class='topSection--'+ page)
        .contentContainer(class='contentContainer--'+ page)
            if(page == 'index')
                .breadCrumbs--index
                h1.headline--index= headerPageArray[1]
            else
                span.breadCrumbs= headerPageArray[0]
                h1.headline= headerPageArray[1]
            p.textInHeaderPage= headerPageArray[2]
            if(!(page == 'who-we-are' || page == 'faq'))
                .btn
                    span.textBtn= headerPageArray[3]
            if(page == 'index')
                a(href='#bottom')
                    .arrow

mixin testimonials
    .testimonials__container
        h1.testimonials__headline
        .testimonials__feedback
            //TODO:доделать миксин отзывов

mixin contactUsTodey
    .container__contact
        a(name='bottom')
        .bigArrow
        .contact__content
            h2.contact__headline Contact Us Today
            span.contact__text We can address rehabilitation issues, structural problems, injuries, headaches and more. Contact Us Today and allow us to assess your current situation.
            h3.contact__phone 303-457-2040
            .contact__btn
                span.contact__btn-text I want to relieve my pain