mixin header-page(page, headerPageArray)
    section.topSection(class='topSection--'+ page)
        .contentContainer(class='contentContainer--'+ page)
            if(page == 'index')
                .breadCrumbs--index
                h1.headline--index= headerPageArray[1]
            else
                span.breadCrumbs= headerPageArray[0]
                h1.headline= headerPageArray[1]
            p.textInHeaderPage= headerPageArray[2]
            if(!(page == 'who-we-are' || page == 'faq'))
                .btn
                    span.textBtn= headerPageArray[3]
            if(page == 'index')
                a(href='#bottom')
                    .arrow

mixin testimonials
    .testimonials__container
        h1.testimonials__headline Testimonials
        .testimonials__feedback
            .feedback
                span.nameFeedback Mark B.
                +ratingFeedback()
                span.textFeedback I've always had a great massage at Intrepid, Mariah always takes the time to work out all the kinks and when I have any area that needs extra work she takes the time to work those areas.
            .feedback
                span.nameFeedback Chris C.
                +ratingFeedback()
                span.textFeedback Mariah is the best massage therapist I have been to (and I've seen quite a few) and has really helped me with my cronic back pain issues. I would recommend her to anyone!
            .feedback
                span.nameFeedback Kelleen R.
                +ratingFeedback()
                span.textFeedback Mariah is fantastic really listened to what i needed and got the knots OUT. Very professional and her home was very inviting. I scheduled my next massage and can't wait to go back. I'm worth it and she is the BEST.
        .allTestimonials
            span.allTestimonials--text All Testimonials
            .smallArrow

mixin contactUsTodey
    .container__contact#bottom

        .bigArrow
        .contact__content
            h2.contact__headline Contact Us Today
            span.contact__text We can address rehabilitation issues, structural problems, injuries, headaches and more. Contact Us Today and allow us to assess your current situation.
            h3.contact__phone 303-457-2040
            .contact__btn
                span.contact__btn-text I want to relieve my pain

mixin whatWeDo
    .whatWeDo__container
        .whatWeDo__wrapper
            h1.whatWeDo__headliner What We Do
            .whatWeDo__services
                span.whatWeDo__services--text Medical
                span.whatWeDo__services--text Neuromuscular
                span.whatWeDo__services--triggerPoint Trigger point
                span.whatWeDo__services--text Therapeutic
                span.whatWeDo__services--text Deep tissue
                span.whatWeDo__services--text Sports
                span.whatWeDo__services--text Craniosacral
                span.whatWeDo__services--text Detoxifying Foot Bath
                span.whatWeDo__services--text Corporate Chair
            .whatWeDo__textAndImage
                .whatWeDo__imageContainer
                .whatWeDo__textContainer
                    span.whatWeDo__slogan Happy employees who can decrease their stress in the work place have better work output.
            .whatWeDo__allServices
                span.whatWeDo__allServices--text All Services
                .whatWeDo__smallArrow

