
mixin menu(menu, page, parent_class)
	div(class= parent_class + '__menu')
		each item in menu
			if (page == item.url)
				li(class= parent_class + '__menu-item ' + parent_class + '__menu-item--active')
					a(href= item.url)= item.title
			else
				li(class= parent_class + '__menu-item')
					a(href= item.url)= item.title
mixin menu2(menu, page, parent_class)
	div(class= `${parent_class}__menu`)
		each item in menu
			li(class= page == item.url ? `${parent_class}__menu-item ${parent_class}__menu-item--active`: `${parent_class}__menu-item`)
				a(href= item.url)= item.title
				if(item.subMenu)
					ul(class= `${parent_class}__sub-menu`)
						each subItem in item.subMenu
							li(class= page == subItem.url ? `${parent_class}__menu-item ${parent_class}__menu-item--active`: `${parent_class}__menu-item`)
								a(href= subItem.url)= subItem.title
								if(subItem.subMenu)
									ul(class= `${parent_class}__sub-sub-menu`)
										each subSubItem in subItem.subMenu
											li(class= page == subSubItem.url ? `${parent_class}__menu-item ${parent_class}__menu-item--active`: `${parent_class}__menu-item`)
												a(href= subSubItem.url)= subSubItem.title


//mixin header(page)
	header.header(class={'header--main': page === 'index'})
		.container

mixin footer()
	footer.footer


//USED MIXINS

//миксин добавляет header
mixin header(page)
	header.header(class={'.header--contacts': page === 'contacts'})
		.logo
		+menu-header(menu, page)
		.button
			span.button__burger
			span.button__text Contact Us

//меню для header
mixin menu-header(menu, page)
	.header__menu
		each item in menu
			if (page == item.url)
				li(class= 'header__menu-item' + 'header__menu-item--active')
					a(href= item.url)= item.title
			else
				li(class= 'header__menu-item')
					a(href= item.url)= item.title
