mixin menu(menu, page, parent_class)
    div(class= parent_class + '__menu')
        each item in menu
            if (page == item.url)
                li(class= parent_class + '__menu-item ' + parent_class + '__menu-item--active')
                    a(href= item.url)= item.title
            else
                li(class= parent_class + '__menu-item')
                    a(href= item.url)= item.title
mixin menu2(menu, page, parent_class)
    div(class= `${parent_class}__menu`)
        each item in menu
            li(class= page == item.url ? `${parent_class}__menu-item ${parent_class}__menu-item--active` : `${parent_class}__menu-item`)
                a(href= item.url)= item.title
                if(item.subMenu)
                    ul(class= `${parent_class}__sub-menu`)
                        each subItem in item.subMenu
                            li(class= page == subItem.url ? `${parent_class}__menu-item ${parent_class}__menu-item--active` : `${parent_class}__menu-item`)
                                a(href= subItem.url)= subItem.title
                                if(subItem.subMenu)
                                    ul(class= `${parent_class}__sub-sub-menu`)
                                        each subSubItem in subItem.subMenu
                                            li(class= page == subSubItem.url ? `${parent_class}__menu-item ${parent_class}__menu-item--active` : `${parent_class}__menu-item`)
                                                a(href= subSubItem.url)= subSubItem.title


//mixin header(page)
    header.header(class={'header--main': page === 'index'})
        .container

//mixin footer()
    footer.footer


//USED MIXINS
//Шапка для desktop
//миксин добавляет header
mixin header(page)
    header.header(class={'header--contact': page === 'contact'})
        a(href='index.html')
            .logo
        +menu-header(menu, page)
        .button
            span.button__text Contact Us

//меню для header
mixin menu-header(menu, page)
    .header__menu
        each item in menu
            if (page == item.url)
                li.header__menu-item(class= 'header__menu-item--active')
                    a(href= item.url + '.html')= item.title
            else
                li(class= 'header__menu-item')
                    a(href= item.url + '.html')= item.title

//Шапка для Device
//миксин добавляет header для девайсов
mixin header--device(page)
    header.header--device(class={'header--contacts': page === 'contacts'})
        a(href='index.html')
            .logo--device
        .button--device
            span.button__burger

//меню для мобильного header
mixin menu-header--device(menu)
    .header__menu--device
        .header__menu--containerElements
            each item, key in menu
                if (menu.length-1!== key)
                    li(class= 'header__menu--device-item')
                        a(href= item.url + '.html')= item.title

//footer для desktop
mixin footer()
    footer.footer
        .footer__topBlock
            .topBlock__content
                .topBlock__content--navigation
                    +menu-footer(menu)
                    .topBlock__content--navigation-socialIcons
                        .circle__socialMedia
                            a(href='#')
                            img(src='./images/footer/yelp_color.svg')
                        .circle__socialMedia
                            a(href='#')
                            img(src='./images/footer/G+.svg')
                        .circle__socialMedia
                            a(href='#')
                            img(src='./images/footer/f.svg')
                .topBlock__content--contacts
                    .contacts__leftSide
                        span.topBlock__text Intrepid Bodyworks, 10313 Washington St. Thornton, CO 80229
                        span.topBlock__text Monday — Sunday 9am — 8pm (Closed Tuesdays)
                    .contacts__rightSide
                        span.topBlock__text 303-457-2040
                        span.topBlock__text IntrepidBodyworks@gmail.com
        .footer__bottomBlock
            .bottomBlock__content
                .bottomBlock__content--leftSide
                    span.bottomBlock__text Intrepid Bodyworks © 2018
                    +ratingStars()
                .bottomBlock__content--rightSide
                    span.bottomBlock__text Web Design — Direct Line Development

//добавляет рэйтинг в футер
mixin ratingStars()
    .rating
        span.bottomBlock__text Company rating:
        -for(var i=0; i<5; i++)
            img.star(src='./images/footer/Star.svg')

//миксин меню для футера
mixin menu-footer(menu)
    .footer__menu
        each item, key in menu
            if (menu.length - 1 !== key)
                li(class= 'footer__menu--item')
                    a(href= item.url)= item.title
            else
                li(class= 'footer__menu--item')
                    a(href= 'contact_us') Contact Us